
<script type="text/javascript" src="volunteerFunctions.js"></script>


<style>

	#box {
		background-color: #ecccff;
		border: 5px solid black;
		padding: 16px;
		margin: 12px;
    width: 512px;
	}

	#availableBox {
		background-color: #ecccff;
		border: 3px solid black;
		padding: 12px;
		margin: 12px;
	}

	#infoBox {
		background-color: #ecccff;
		border: 3px solid black;
		padding: 12px;
		margin: 12px;
	}

</style>


<div id="box">

	{{#if results}} 
	{{#each results}}

		<!-- TITLE -->
		<h1> Escape Plan </h1>
		<h2> Volunteer Interface </h2>


		<!-- AVAILABLE BOX -->
		<div id="availableBox">
			<span>Available Now? </span>
			<span id="availabilityText">{{this.description}}</span>

      <div id="availableButtons">
        <button id="availabilityButton" onclick="clickAvailability()">UpdateAvailability</button>
        <div id="availability" style="display: none">
          <p>Select your availability</p>

          <button id="isAvailable" onclick="sendAvailable(1)">
            <img src="./images/availableButton.png" />
          </button>

          <button id="isNotAvailable" onclick="sendAvailable(0)">
            <img src="./images/unavailableButton.png" />
          </button>
      </div>
		</div>

		</div>


		<!-- INFORMATIONBOX -->
		<div id="infoBox">
			<p>First Name: {{this.fname}}
			<p>Last Name: {{this.lname}}
			<p>Phone Number: {{this.pnum}}

				<!-- add function to convert to perc in volunteerFunctions.js -->
			<p>Approval Rating: {{this.approvalRating}}
		</div>

		<!-- HIDDEN -->
		<span id="volunteerId" style="display: none;" value="{{this.id}}">{{this.id}}</span>
	{{/each}}





	{{else}}
	    <h3>Invalid Username or Password</h3>
	{{/if}}

</div> <!-- BOX -->


