
<script type="text/javascript" src="volunteerFunctions.js"></script>


<h1> Escape Plan </h1>
<h2> Volunteer Interface </h2>



<style>
    table, th, td{
        border: 1px solid black;
    }
    td.id{
        display: none;
    }
</style>

{{#if results}}


<table>
    <tr>
        <th>First Name</th>
	<th>Last Name</th>
        <th>Phone Number</th>
        <th>Approval Rating</th>
        <th>Available</th>
    </tr>
    {{#each results}}
        <tr>
            <td>{{this.fname}}</td>
            <td>{{this.lname}}</td>
            <td>{{this.pnum}}</td>
            <td>{{this.approvalRating}}</td> 

		<!-- add function to convert to perc in volunteerFunctions.js -->
            <td id="availabilityText">{{this.description}}</td>
            <td id="volunteerId" class="id" value="{{this.id}}">{{this.id}}</td>
        </tr>
    {{/each}}
</table>
    
<!-- make function for on click for change availability in volunteerFunctions.js -->
<button id="availabilityButton" onclick="clickAvailability()">UpdateAvailability</button>

<div id="availability" style="display: none">
	<p>Select your availability</p>

	<button id="isAvailable" onclick="sendIsAvailable()">I am available</button>
	<button id="isNotAvailable" onclick="sendIsNotAvailable()">I am NOT available</button>
</div>


{{else}}
    <h3>Invalid Username or Password</h3>
{{/if}}





