<h1>A Victim Needs Help!</h1>
{{#if shelter}}
    {{#each shelter}}
        <div>Victim Name: Unavailable
            <br>
            Victim Location: Unavailable
        </div>
        <div>
            Shelter Name: {{this.name}}
            <br>
            Shelter Location: {{this.location_lat}}N {{this.location_lon}}W
        </div>
    {{/each}}
{{/if}}

{{#if results}}

    <h3>Can you help us?</h3>
    <table>
        {{#each results}}
            <tr id="i{{@index}}" style="display: none">
                <td>{{this.fname}} {{this.lname}}</td>
                <td class="id" style="display: none" name="id" value="{{this.id}}">{{this.id}}</td>
                <td><button id="accept" onclick="accept('{{this.id}}')">Accept</button></td>
                <td><button id="reject" onclick="reject()">Reject</button></td>
            </tr>
        {{/each}}
    </table>
    <div id="noVolunteers"></div>


{{else}}
    <h3>No Volunteers Available</h3>
    <h3>Alerting System</h3>
{{/if}}


<script type="text/javascript" src="volAccDecFunctions.js"></script>