


<script>console.log("hello");</script>

{{#if results}}
    <table>
        <tr>
            <th style="float: left">Volunteer Interface</th>
        </tr>
        <tr>
            <th>
                <h1>Notafication of Victim:</h1>
            </th>
        </tr>
        {{#each results}}
            <tr id="i{{@index}}" style="display: none">
                <td>{{this.fname}} {{this.lname}}</td>
                <td class="id" style="display: none" name="id" value="{{this.id}}">{{this.id}}</td>
                <td>
                    <form method="get">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="hidden" name="fname" value="{{this.fname}}">
                        <input type="hidden" name="lname" value="{{this.lname}}">
                        <input type="hidden" name="pnum" value="{{this.pnum}}">
                        <input type="hidden" name="location_lat" value="{{this.location_lat}}">
                        <input type="hidden" name="location_lon" value="{{this.location_lon}}">
                        <input type="hidden" name="carMake" value="{{this.carMake}}">
                        <input type="hidden" name="carModel" value="{{this.carModel}}">
                        <input type="hidden" name="carColor" value="{{this.carColor}}">
                        <input type="submit" name="volInbound" value="Accept">
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
    <div id="noShelter"></div>
    <button id="reject" onclick="reject()">Reject</button>
{{else}}
    <H3>No Shelters Available</H3>
{{/if}}


<script type="text/javascript" src="volAccDecFunctions.js"></script>